@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0%;
  margin: 0%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: antiquewhite;
}

p {
  padding: 1vh;
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 3vh;
}

.calc-display {
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: right;
  border: 1px solid black;
  overflow: auto;
  width: 34vh;
  margin: 1vh;
  font-size: medium;
}

.main-container {
  margin-top: 10vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
  color: black;
  margin: auto auto;
  width: 36vh;
  height: fit-content;
  padding: 1vh;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  height: 6vh;
  width: 10vh;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #000000;
  color: aliceblue;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1vh;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */